@import 'svg';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@400;500&display=swap');
*,
*::before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	
	@media (max-width: 1024px) {
		display: none;
	}
}

html {
	scroll-behavior: smooth;
}

body {	
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	width: 100%;
	line-height: 1em;
}

body, html {
	height: auto;
	background-color: #0d0d0d;
	color: white;
}

#root {
	display: flex;
	opacity: 0;
	animation: cssAnimation 0s 4s forwards;
}

@keyframes cssAnimation {
	from   { 
		opacity: 0;
	 }
	 to   { 
		opacity: 1;
	 }
}

.left-section {
	display: flex;
	flex-direction: column;
	width: 12.5vw;
}

.slogan {
	height: 50vh;
	border: 1px solid white;
	color: lightgrey;
	padding: 50px;
	font-family: 'Poppins', sans-serif;
	font-weight: 600;
	font-size: 22px;
	line-height: 1em;
	animation: slide-up 5s linear;
	opacity: 1;
	animation: cssAnimations 0s 4s forwards;
}

@keyframes cssAnimations {
	from   { 
		opacity: 1;
	 }
	 to   { 
		opacity: 0;
	 }
}

.author {
	display: flex;
	font-weight: 400;
	align-items: flex-end;
	height: 50vh;
	width: 30vw;
	border: 1px solid white;
	padding: 70px;
	margin-top: 10px;
	animation: slide-up 7s linear;

	@media (max-width: 1200px) {
		display: none;
	}
}

.middle-section {
	width: 30vw;

	@media (max-width: 1024px) {
		width: 600px;
	}
}

h1 {
	display: flex;
	align-items: center;
	line-height: 50px;
}

.blank-article1, .hero-title  {
	height: 20vh;
	border: 1px solid white;
	padding: 20px;
}

.hero-title{
	position: relative;
	animation: slide-up 6s linear;
	font-family: 'Roboto', sans-serif;
	font-size: 72px;
	font-weight: 400;
	line-height: 1em;
	padding-bottom: 50px;

	@media (max-width: 1200px) {
		font-size: 48px;
	}

}

.hero-text {
	height: 30vh;
	line-height: 25px;
	padding: 20px;
	position: relative;
	animation: slide-up 8s linear;
	
}

@keyframes slide-up {
	0% {
		transform: translateY(150px);
	}
	100% {
		transform: translateY(0);
  }
}

.blank-article2 {
	height: 5vh;
	border: 1px solid white;
}

.right-section {
	width: 50vw;
	display: flex;
	flex-direction: column;
}

.navSoc {
	display: flex;
	border: 1px solid white;
	height: 30vh;
	color: lightgrey;
	animation: slide-up 5s linear;
}

.navBar {
	width: 55vw;
	display: flex;
	justify-content: space-around;
	border: 1px solid white;

	@media (max-width: 1024px) {
		display: none;
	}
}

.about, .selectedworks, .email {
	padding: 50px;
}

.socialBar {
	width: 35vw;
	display: flex;
	justify-content: space-around;

	@media (max-width: 1024px) {
		justify-content: flex-end;
	}
}

.drib, .insta, .linkedin {
	padding-top: 50px;
}

.blank-column {
	width: 10vw;
	border: 1px solid white;

	@media (max-width: 1024px) {
		display: none;
	}
}

.article-graph {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: flex-end;
	height: 60vh;
	border: 1px solid white;
	animation: slide-up 6s linear;
	align-content: center;

	@media (max-width: 1024px) {
		display: none;
	}
}

.right-bottom-section {
	display: flex;
	animation: slide-up 7s linear;

	@media (max-width: 1024px) {
		display: none;
	}
}

.prelude-article {
	height: 10vh;
	width: 10vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	border: 1px solid white;
	padding: 30px 0 70px 20px;
	font-weight: 400;
}

.counter-article {
	height: 10vh;
	width: 40vw;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: flex-end;
	border: 1px solid white;
	padding: 0 20px 70px 0;
}

.white-line{
	height: 2px;
	background-color: white;
	max-width: 15%;
	margin: 20px;
	animation: slide-up 6s linear;
}

.menu{
	width: 60px;
	display: none;

	@media (max-width: 1024px) {
		display: block;
	}
}

svg{
	max-width: 900px;
	margin-bottom: 40px;
}